name: postgres
icon: postgres
type: db
title: PostgreSQL
hostname: postgres
containers:
- name: postgres
  image: wodby/postgres
  env:
  - name: POSTGRES_PASSWORD  
    value: '{{password}}'
    secret: true
options:
- version: '18'
  tag: '18'
endpoints:
- name: postgres
  ports:
  - name: postgres
    number: 5432
    type: tcp  
scalable: false
labels:
- postgres
- postgresql

volumes:
- name: data
  title: Data  
  size: 10
  helm:
    values:
    - name: primary.persistence.size
      value: '{{volumes.data.size}}Gi'
    - name: primary.persistence.enabled
      value: true
    # mandatory to use existing claim since this volume has import function
    # we will mount different claim after import and doing it through sts's volumeclaimtemplates is not supported
    - name: primary.persistence.existingClaim
      value: '{{volumes.data.claim}}'

database:
  type: postgres
  kind: postgres
  port: 5432
  ssl: true
  root:
    username: postgres
    password: '{{password}}'
  db:
    name: '{{app.name}}_{{instance.name}}'
    charset: 'UTF8'
    collation: 'en_US.UTF8'    
    actions:
      create:
        args:
        - make
        - create-db
        - 'name="{{database.db.name}}"'
        - 'charset="{{database.db.charset}}"'
        - 'collation="{{database.db.collation}}"'        
        - 'host="{{database.host}}"'
      drop:
        args:
        - make
        - drop-db
        - 'name="{{database.db.name}}"'  
        - 'host="{{database.host}}"'        
  user:
    name: '{{app.name}}_{{instance.name}}'  
    password: '{{password}}'
    actions:
      create: 
        args:
        - make
        - create-user
        - 'username="{{database.user.name}}"'
        - 'password="{{database.user.password}}"'
        - 'host="{{database.host}}"'        
      drop:
        args:
        - make
        - drop-user
        - 'username="{{database.user.name}}"'
        - 'host="{{database.host}}"'        
      grant:
        args:
        - make
        - grant-user-db
        - 'username="{{database.user.name}}"'
        - 'db="{{database.db.name}}"'
        - 'host="{{database.host}}"'
      revoke:
        args:
        - make
        - revoke-user-db
        - 'username="{{database.user.name}}"'
        - 'db="{{database.db.name}}"'
        - 'host="{{database.host}}"'
  charsets:
  - name: UTF8
    title: UTF8
    collation: English_United States.1252
    default: true

imports:
  - name: database
    title: Database import
    volume: data
    init:
      mount: /docker-entrypoint-initdb.d
      env:
      - name: POSTGRES_DB
        value: '{{database.db.name}}'
    extensions:
      - gz
      - tar.gz
      - tgz
      - zip


helm:
  name: wodby
  source: oci://registry-1.docker.io/wodby/postgres
  chart: oci://registry-1.docker.io/wodby/postgres
  version: 0.2.0
  configurations:
  - name: postgresql
    labels: commonLabels
    annotations: commonAnnotations
    env: primary.extraEnvVars
    resources: primary.resources
  values:
  - name: primary.resourcesPreset
    value: 'none'    

configs: 
- name: config
  title: PostgreSQL config
  config: postgresql.conf.tmpl
  filepath: /etc/gotpl/postgres.conf.tmpl

backups:
- name: database
  title: Default database backup
  create:
    args:
    - make
    - backup
    - 'host="{{database.host}}"'
    - 'db="{{database.db.name}}"'
    - 'ignore="{{db_backup_ignore_tables}}"'
    - 'filepath=/var/lib/postgresql/data/backup.sql.gz'
  upload:
    filepath: /var/lib/postgresql/data/backup.sql.gz
    extension: sql.gz

tokens:
- name: password
  generate:
    regex: '[0-9a-z-]{32}'
